<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
          <link rel="stylesheet" href="/css/style.css">
          <title>Title</title>
</head>

<body>

        <div class="col-md-12">
                  <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                                      <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                                          <span class="icon-bar"></span>
                                                          <span class="icon-bar"></span>
                                                          <span class="icon-bar"></span>
                                                </button>
                                                <b><a class="navbar-brand" href="/article" th:text="#{ams}">WebSiteName</a></b>
                                      </div>
                                      <div class="collapse navbar-collapse" id="myNavbar">
                                                <ul class="nav navbar-nav navbar-right">
                                                          <li class="active"><a href="/article" th:text="#{home}"></a></li>
                                                          <li><a href="/category" th:text="#{nav.category}">Category</a></li>
                                                          <li class="dropdown">
                                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"  th:text="#{language}">Language</a>
                                                                    <ul class="dropdown-menu">
                                                                              <li><a href="?lang=en" th:text="#{english}">English</a></li>
                                                                              <li><a href="?lang=km" th:text="#{khmer}">Khmer</a></li>
                                                                              <li><a href="?lang=kr" th:text="#{korean}">Korean</a></li>
                                                                    </ul>
                                                          </li>
                                                          <li><a href="#"><span class="glyphicon glyphicon-user"></span> <span th:text="#{signin}">Sign Up</span></a></li>
                                                          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <span th:text="#{login}">Login</span></a></li>
                                                </ul>
                                      </div>
                            </div>
                  </nav>
            <div layout:fragment="custom-content"></div>
                  <footer class="footer-distributed">
                            <div class="footer-left">
                                      <h1 style="color: #fff; font-size: 90px;">AMS KH</h1>

                            </div>
                            <div class="footer-center">
                                      <div>
                                                <i class="fa fa-map-marker"></i>
                                                <p th:text="#{contact}"></p>
                                      </div>
                                      <div>
                                                <i class="fa fa-phone"></i>
                                                <p>(+855) 85 525 351</p>
                                      </div>
                                      <div>
                                                <i class="fa fa-envelope"></i>
                                                <p><a href="mailto:support@company.com">support@ptasjul.com</a></p>
                                      </div>
                            </div>
                            <div class="footer-right">
                                      <p class="footer-company-about">
                                                <span th:text="#{about}">អំពីពួកយើង</span>
                                                <p style="color: #fff;" th:text="#{about.content}"></p>
                                      </p>
                                      <div class="footer-icons">
                                                <a href="#"><i class="fab fa-facebook"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                                <a href="#"><i class="fab fa-github"></i></a>




                                      </div>
                            </div>

                  </footer>
        </div>

</body>

</html>
