<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts\layout.html}">
<head>
    <title>Article Management System</title>
</head>
<body>
    <div layout:fragment="custom-content">
            <div style="text-align: center">
                <a href="/article" style="float: left;"><input class="btn btn-primary" type="button" th:value="#{go.home}"></a>
                <h2 th:text="#{show.all.category}" style="display: inline-block;">Article List Here:</h2>
                      <a href="/addCate" style="float: right;"><input class="btn btn-primary" type="button" th:value="#{insert.new.category}"></a>

            </div>
            <table class="table table-bordered table-striped">
                <tr class="bg-success">
                    <th th:text="#{article.id}">ID</th>
                    <th th:text="#{article.title}">Title</th>
                    <th th:text="#{article.action}">Title</th>
                </tr>
                <tr th:each="article : ${articleList}" th:object="${article}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{category}"></td>
                    <td><a th:href="@{/viewCateOne/{id}(id=*{id})}"><input class="btn btn-primary" type="button" th:value="#{view}"/></a>
                        <a th:href="@{/editCate/{id}(id=*{id})}"><input class="btn btn-success" type="button" th:value="#{update}"/></a>
                        <a th:href="@{/catedelete/{id}(id=*{id})}"><input class="btn btn-danger" type="button" th:value="#{delete}"/></a>
                    </td>
                </tr>
            </table>
    </div>
</body>

</html>
