<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts\layout.html}">
<head>
    <title>Article Management System</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div style="text-align: center">
        <a href="/category" style="float: left;"><input class="btn btn-primary" type="button" th:value="#{back.to.category}"></a>
        <h2 th:text="${addForm}? #{insert.new.category}: #{update.category}">Article List Here:</h2>
    </div>
    <div class="form-group">
    <form th:action="${addForm}? '/addCate':'/editCate'" method="post" th:object="${category}" >
        <input class="form-control" type="hidden" name="id" th:field="${category.id}" /></br></br>
        <label for="title" th:text="#{article.title}">Title:</label>
        <input class="form-control" type="text"  name="category" th:field="${category.category}"/><span class="errtxt" th:if="${#fields.hasAnyErrors()}"  th:errors="${category.category}" ></span></br></br>
        <input class="btn btn-primary" type="submit" th:value="${addForm}? #{insert.new.category}: #{update}" name="submit">
    </form>
    </div>

    <springForm:errors path="title" cssClass="error" />
    <!--<h1 style="color: #f00;" th:text="${error}"></h1>-->
</div>
</body>
</html>