<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts\layout.html}">
<head>
    <title>Article Management System</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div style="text-align: center">
        <a href="/article" style="float: left;"><input class="btn btn-primary" type="button" th:value="#{go.home}"></a>
        <h2 th:text="#{insert.new.row}">Article List Here:</h2>
    </div>
    <div class="form-group">
        <form action="/add" method="post" enctype="multipart/form-data" th:object="${article}">
            <input class="form-control" type="hidden" th:placeholder="#{input.id}" name="id" th:field="*{id}"/><span class="errtxt" th:if="${#fields.hasAnyErrors()}" th:errors="*{id}"></span></br></br>
            <label for="title" th:text="#{article.title}">Title:</label>
            <input class="form-control" type="text" th:placeholder="#{input.title}" name="title" th:field="*{title}"/><span class="errtxt" th:if="${#fields.hasAnyErrors()}" th:errors="*{title}"></span></br></br>
            <label for="category" >Category:</label>
            <select name="category.id" class="form-control">
                <option th:value="*{id}" th:each="category : ${categories}" th:object="${category}" th:text="*{category}"></option>
            </select></br></br>
            <label for="description" th:text="#{article.description}" >Description:</label>
            <input class="form-control" type="text" th:placeholder="#{input.description}" name="description" th:field="*{description}"/><span class="errtxt" th:if="${#fields.hasAnyErrors()}" th:errors="*{description}"></span></br></br>
            <label for="author" th:text="#{article.author}">Author:</label>
            <input class="form-control" type="text" th:placeholder="#{input.author}" name="author" th:field="*{author}"/><span class="errtxt" th:if="${#fields.hasAnyErrors()}" th:errors="*{author}"></span></br></br>
            <label for="Thumbnail"  th:text="#{article.thubmnail}">Author:</label>
            <input class="form-control" type="file"name="file"/></br></br>
            <input class="btn btn-primary" type="submit" th:value="#{insert.new.row}" name="submit">
        </form>
    </div>

    <springForm:errors path="title" cssClass="error" />
</div>


</body>
</html>