<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts\layout.html}">
<head>
    <title>Article Management System</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div style="text-align: center">
        <a href="/category" style="float: left;"><input class="btn btn-primary" type="button" th:value="#{back.to.category}"></a>
        <h2 th:text="#{show.one.category}">Article List Here:</h2>
    </div>        <table class="table table-bordered table-striped" th:object="${obj}">
            <tr>
                <td th:text="#{article.id}">ID</td>
                <td  th:text="*{id}"></td>
            </tr>        <tr>
            <td th:text="#{article.title}">Title</td>
            <td  th:text="*{category}"></td>
        </tr>
        </table>
    </div>
</body>
</html>